extends layout

block content
  <div class="ba">
    h1= title
    ul
      li <a href="/Contact">Contact</a>
      li <a href="/About">About</a>
      li <a href="/home">Home</a>
    ul
    <button class="btn btn-danger">Enter now </button>
  </div>

  <section>
    <div class="po">
      <h2>Our Love Coach</h2>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
            <img src="https://res.cloudinary.com/wemakeit/image/upload/c_fill,g_center,h_175,w_175/v1521754868/wemakeit/production/user/233307/picture-720ec381-787c-467b-8802-e578be648ab3.jpg" width=150px alt="Luc" class="img-circle">
        </div>
        <div class="col-sm-4">
            <img src="https://powercoders.org/images/portrait/helene-portier.jpg" alt="..." class="img-circle" width=150px>
        </div>
        <div class="col-sm-4">
            <img src="https://powercoders.org/images/portrait/hussam-allaham.jpg" alt="..." class="img-circle" width=150px>
        </div>
      </div>
    </div>


  </section>
